@charset "UTF-8";

#calendar{
	border-collapse: collapse; /* 표의 테두리를 실선으로 표현 */
	border: 1px solid gray; 
}
caption{
	text-decoration: none;
}
#calendar td{
	width: 80px;
	height: 80px;
	text-align: left;
	vertical-align: top; /* 이미지 또는 td안에만 사용이 잘된다.  */
	
}
a{
	text-decoration: none;
}