.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
nav.navbar {
    height: 75px;
    border: none;
}
.nav-hr {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

.footer-bs {
    background-color: #3c3d41;
    padding: 45px 40px;
    color: #999;
    position: relative;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}
.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li {
    padding: 5px 4px;
}
.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
#footer-ul li {
    display: inline-block;
    cursor: pointer;
}


section.content{
	margin-top: 5%;
	margin-bottom: 5%;
}
.swiper-slide img{
	width: 100%;
	object-fit: cover;
}
.width-100{
	width: 100%;
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.1);
    }
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 56%;
        transform: translatex(-50%);
    }
}

/* 모즐 추가 */
body {
    color: #222;
	background: #fff;
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul li {
    list-style: none;
}
ul {
    padding:0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #222;
}


b, strong {
    font-weight: 700;
}


label {
	font-weight: 400;
}
a {
    color: #222;
  }
  ::-webkit-input-placeholder,
  :-ms-input-placeholder,
  ::placeholder{
      color:#bbb;
  }
.mt-1{
    margin-top: 20px;
} 
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-5 {
    margin-top: 50px;
}
.mb-1 {
	margin-bottom:10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 20px;
}

.container-fluid {
    padding-left: 0px;
}
i {
    color:#999;
    cursor: pointer;
}
*:focus {
     outline: 0; 
    }
textarea:focus, input:focus{ 
    outline: none; 
}


.col-sm-9, .col-sm-3 {
	padding:5px;
}

.nav-stacked>li {
    float: none;
    margin-bottom: 30px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: 200;
}

@media (min-width: 367px){
	#image-wrap {
	    width: 150px;
	}
	.mo-img img{
		width:100%;
	    height:230px;
	    object-fit: cover;
	}
	.pc_menu{
		display:none;
	} 
	.mobile_menu{
		display: block;
	}
	.container{
		clear: both;
	}
}	


@media (min-width: 768px){
    .container-fluid {
        width: 750px;
    }
    #image-wrap {
	    width: 230px;
	}
   .mo-img img{
		width:230px;
	    height:230px;
	    object-fit: cover;
	}
	.navbar-brand{
		padding: 0px 15px;
	}
	.clear {
	    float: right;
	}
}
@media (min-width: 992px){
    .container-fluid {
        width: 970px;
    }
    .new-photo {
    	position:fixed;
    }
    .profil-image {
	    width: 210px;
	}
	.pc_menu{
		display:block;
	} 
	.mobile_menu{
		display: none;
	}
	.intput-width {
	    width: 280px;
	    position: relative;
	    margin: 0px!important;
	}
}

@media (min-width: 1200px){
    .container-fluid {
        width: 1170px;
    }
    .mo-member ul {
        width: 30%;
    }
    .new-photo {
    	position:fixed;
    }
    .profil-image {
	    width: 256px;
	}
	.clear {
		float: right;
	}
	
	
	
}