<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.manage.CategoryDaoImpl">
	
	<insert id="registCategory" parameterType="java.lang.String">
		INSERT INTO CATEGORY
				(CATEGORY_CODE, CATEGORY_NAME, CREATE_DATE)
			VALUES(CATEGORY_SEQ.NEXTVAL, #{category_name}, SYSDATE)
	</insert>
	
	<insert id="registMozzleCategory" parameterType="java.util.Map">
		INSERT INTO MOZZLE_CATEGORY
			(CATEGORY_CODE, MOZZLE_ID)
		VALUES(#{category_code}, #{mozzle_id})
	</insert>
	
	<select id="selectMozzleCategoryName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT c.CATEGORY_NAME 
			FROM MOZZLE_CATEGORY mc LEFT JOIN CATEGORY c 
			ON mc.CATEGORY_CODE = c.CATEGORY_CODE
			WHERE mc.MOZZLE_ID = #{mozzle_id}
	</select>
	
	<delete id="deleteMozzleCategory" parameterType="java.lang.String">
		DELECT FROM MOZZLE_CATEGORY WHERE MOZZLE_ID = #{mozzle_id}
	</delete>
	
	<select id="seletCategoryAll" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME FROM CATEGORY
		ORDER BY CATEGORY_NAME 
	</select>
	
	<select id="seletCategoryByInitial" parameterType="java.lang.Integer" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME 
			FROM CATEGORY
			WHERE SUBSTR(CATEGORY_NAME, 1, 1)
			<if test="num == 1">
				BETWEEN '가' AND '낗'
			</if>
			<if test="num == 2">
				BETWEEN '나' and '닣'
			</if>
			<if test="num == 3">
				BETWEEN '다' and '띻'
			</if>
			<if test="num == 4">
				BETWEEN '라' AND '맇'
			</if>
			<if test="num == 5">
				BETWEEN '마' AND '밓'
			</if>
			<if test="num == 6">
				BETWEEN '바' AND '빟'
			</if>
			<if test="num == 7">
				BETWEEN '사' AND '싷'
			</if>
			<if test="num == 8">
				BETWEEN '아' AND '잏'
			</if>
			<if test="num == 9">
				BETWEEN '자' AND '찧'
			</if>
			<if test="num == 10">
				BETWEEN '차' AND '칳'
			</if>
			<if test="num == 11">
				BETWEEN '카' AND '킿'
			</if>
			<if test="num == 12">
				BETWEEN '타' AND '팋'
			</if>
			<if test="num == 13">
				BETWEEN '파' AND '핗'
			</if>
			<if test="num == 14">
				BETWEEN '하' AND '힣'
			</if>
			<if test="num == 15">
				IN (a, A)
			</if>
			<if test="num == 16">
				IN (b, B)
			</if>
			<if test="num == 17">
				IN (c, C)
			</if>
			<if test="num == 18">
				IN (d, D)
			</if>
			<if test="num == 19">
				IN (e, E)
			</if>
			<if test="num == 20">
				IN (f, F)
			</if>
			<if test="num == 21">
				IN (g, G)
			</if>
			<if test="num == 22">
				IN (h, H)
			</if>
			<if test="num == 23">
				IN (i, I)
			</if>
			<if test="num == 24">
				IN (j, J)
			</if>
			<if test="num == 25">
				IN (k, K)
			</if>
			<if test="num == 26">
				IN (l, L)
			</if>
			<if test="num == 27">
				IN (m, M)
			</if>
			<if test="num == 28">
				IN (n, N)
			</if>
			<if test="num == 29">
				IN (o, O)
			</if>
			<if test="num == 30">
				IN (p, P)
			</if>
			<if test="num == 31">
				IN (q, Q)
			</if>
			<if test="num == 32">
				IN (r, R)
			</if>
			<if test="num == 33">
				IN (s, S)
			</if>
			<if test="num == 34">
				IN (t, T)
			</if>
			<if test="num == 35">
				IN (u, U)
			</if>
			<if test="num == 36">
				IN (v, V)
			</if>
			<if test="num == 37">
				IN (w, W)
			</if>
			<if test="num == 38">
				IN (x, X)
			</if>
			<if test="num == 39">
				IN (y, Y)
			</if>
			<if test="num == 40">
				IN (z, Z)
			</if>
			ORDER BY CATEGORY_NAME
	</select>
	
	<select id="searchCategory" parameterType="java.lang.String" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME FROM CATEGORY
			WHERE CATEGORY_NAME LIKE '%' || #{val} || '%'
	</select>
	
	<select id="selectCategoryCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM CATEGORY
	</select>
	
	<delete id="deleteCatogory" parameterType="java.lang.String">
		DELETE FROM CATEGORY
			WHERE CATEGORY_CODE= #{code} 
	</delete>
	
	<select id="selectCategoryByCnt" parameterType="java.lang.String" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME, COUNT(*) CNT
			FROM (SELECT mc.CATEGORY_CODE, c.CATEGORY_NAME 
				FROM MOZZLE_CATEGORY mc LEFT JOIN CATEGORY c
				ON mc.CATEGORY_CODE = c.CATEGORY_CODE) 
			GROUP BY CATEGORY_CODE, CATEGORY_NAME
			ORDER BY COUNT(*) DESC
	</select>
</mapper>