<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.manage.CategoryDaoImpl">
	
	<insert id="registCategory" parameterType="java.lang.String">
		INSERT INTO CATEGORY
				(CATEGORY_CODE, CATEGORY_NAME, CREATE_DATE)
			VALUES(CATEGORY_SEQ.NEXTVAL, #{category_name}, SYSDATE)
	</insert>
	
	<insert id="registMozzleCategory" parameterType="java.util.Map">
		INSERT INTO MOZZLE_CATEGORY
			(CATEGORY_CODE, MOZZLE_ID)
		VALUES(#{category_code}, #{mozzle_id})
	</insert>
	
	<select id="selectMozzleCategoryName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT c.CATEGORY_NAME 
			FROM MOZZLE_CATEGORY mc LEFT JOIN CATEGORY c 
			ON mc.CATEGORY_CODE = c.CATEGORY_CODE
			WHERE mc.MOZZLE_ID = #{mozzle_id}
	</select>
	
	<delete id="deleteMozzleCategory" parameterType="java.lang.String">
		DELETE FROM MOZZLE_CATEGORY WHERE MOZZLE_ID = #{mozzle_id}
	</delete>
	
	<select id="seletCategoryAll" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME FROM CATEGORY
		ORDER BY CATEGORY_NAME 
	</select>
	
	<select id="seletCategoryByInitial01" parameterType="java.util.Map" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME 
			FROM CATEGORY
			WHERE SUBSTR(CATEGORY_NAME, 1, 1)
			BETWEEN #{initial_first} AND #{initial_last}		
			ORDER BY CATEGORY_NAME
	</select>
	
	<select id="seletCategoryByInitial02" parameterType="java.util.Map" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME 
			FROM CATEGORY
			WHERE SUBSTR(CATEGORY_NAME, 1, 1)
			IN (#{initial_lower}, #{initial_upper})		
			ORDER BY CATEGORY_NAME
	</select>
	
	<select id="searchCategory" parameterType="java.lang.String" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME FROM CATEGORY
			WHERE CATEGORY_NAME LIKE '%' || #{val} || '%'
	</select>
	
	<select id="selectCategoryCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM CATEGORY
	</select>
	
	<select id="selectCategoryCnt01" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM CATEGORY
		WHERE SUBSTR(CATEGORY_NAME, 1, 1)
			BETWEEN #{initial_first} AND #{initial_last}		
			ORDER BY CATEGORY_NAME
	</select>
	
	<select id="selectCategoryCnt02" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM CATEGORY
		WHERE SUBSTR(CATEGORY_NAME, 1, 1)
			IN (#{initial_lower}, #{initial_upper})		
			ORDER BY CATEGORY_NAME
	</select>
	
	<delete id="deleteCatogory" parameterType="java.lang.String">
		DELETE FROM CATEGORY
			WHERE CATEGORY_CODE= #{code} 
	</delete>
	
	<select id="selectCategoryByCnt" parameterType="java.lang.String" resultType="cDto">
		SELECT CATEGORY_CODE, CATEGORY_NAME, COUNT(*) CNT
			FROM (SELECT mc.CATEGORY_CODE, c.CATEGORY_NAME 
				FROM MOZZLE_CATEGORY mc LEFT JOIN CATEGORY c
				ON mc.CATEGORY_CODE = c.CATEGORY_CODE) 
			GROUP BY CATEGORY_CODE, CATEGORY_NAME
			ORDER BY COUNT(*) DESC
	</select>
	
	<select id="duplicateCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM CATEGORY WHERE CATEGORY_NAME = #{category_name}
	</select>
</mapper>