<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.mozzle.web.dao.users.MozzleUserDaoImpl">

<!-- USERS + MOZZLE_USER join문 (모즐 내 회원 닉네임으로 찾기) -->
<select id="selectJoin">
SELECT um.USER_ID, um.MOZZLE_ID, um.AUTH_CODE, um.NICKNAME, um.JOINED_DATE,
um.BIRTHDAY_SHOW, um.IMAGE_ORIGIN, um.IMAGE_SAVED, 
u.USER_NAME ,u.AUTH_CODE,u.BIRTH  ,u.EMAIL , u.TEL ,u.DELFLAG 
FROM USER_MOZZLE um JOIN USERS u ON um.USER_ID = u.USER_ID 
WHERE um.NICKNAME like '%%' AND um.MOZZLE_ID ='1' AND um.AUTH_CODE IN ('1','2')
</select>

<!-- 모즐내 회원 닉네임으로 찾기 -> 리스트로 뿌리기 -->
<select id="selectListMozzleUser" parameterType="java.util.Map" resultType="mozzleUserDto">
SELECT um.USER_ID, um.MOZZLE_ID, um.AUTH_CODE, um.NICKNAME, um.JOINED_DATE,
um.BIRTHDAY_SHOW, um.IMAGE_ORIGIN, um.IMAGE_SAVED
FROM USER_MOZZLE um JOIN USERS u ON um.USER_ID = u.USER_ID 
<trim prefix="WHERE" prefixOverrides="AND">
<if test="nickname !=null">
 um.NICKNAME like '%'||#{nickname}||'%'
</if>
AND um.MOZZLE_ID =#{mozzle_id}
AND um.AUTH_CODE IN ('1','2')
AND u.DELFLAG = 'N'
</trim>
</select>

<!-- 모즐 내 일반회원가입 -->
<insert id="insertMozzleUser" parameterType="mozzleUserDto">
INSERT INTO USER_MOZZLE
(USER_ID, MOZZLE_ID, AUTH_CODE, NICKNAME, JOINED_DATE, BIRTHDAY_SHOW
 <if test="image_saved != null">
 , IMAGE_ORIGIN, IMAGE_SAVED
 </if>
)
VALUES(#{user_id},#{mozzle_id}, '2', #{nickname}, sysdate, #{birthday_show}
<if test="image_saved != null">
, #{image_origin}, #{image_saved}
</if>
)
</insert>

<select id="selectListMozzleUser2" parameterType="java.util.Map" resultType="mozzleUserDto">
SELECT um.USER_ID, um.MOZZLE_ID, um.AUTH_CODE, um.NICKNAME, um.JOINED_DATE,
um.BIRTHDAY_SHOW, um.IMAGE_ORIGIN, um.IMAGE_SAVED
FROM USER_MOZZLE um JOIN USERS u ON um.USER_ID = u.USER_ID 
<trim prefix="WHERE" prefixOverrides="AND">
<if test="nickname !=null">
 um.NICKNAME like '%'||#{nickname}||'%'
</if>
AND um.MOZZLE_ID =#{mozzle_id}
AND um.AUTH_CODE IN ('1','2')
AND u.DELFLAG = 'N'
</trim>
</select>


</mapper>
