<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.manage.ManageDaoImpl">
	
	<insert id="registMozzle" parameterType="mDto">
		<selectKey keyProperty="mozzle_id" resultType="java.lang.String" order="BEFORE">
			SELECT MOZZLE_SEQ.NEXTVAL MOZZLE_ID FROM DUAL
		</selectKey>
			INSERT INTO MOZZLE
						(MOZZLE_ID, MOZZLE_NAME, 
						<if test="mozzle_intro != null">
							MOZZLE_INTRO, 
						</if>
						<if test="image_origin != null">
						IMAGE_ORIGIN, IMAGE_SAVED,
						</if>
						CREATE_DATE, CATEGORY_CODE, 
						STATE, DELFLAG)
				VALUES(#{mozzle_id}, #{mozzle_name},
						<if test="mozzle_intro != null">
						 	#{mozzle_intro}, 
						</if>
						<if test="image_origin != null">
						#{image_origin}, #{image_saved},
						</if>
						SYSDATE, #{category_code}, #{state}, 'N')	
	</insert>	
	
	<update id="updateMozzle" parameterType="mDto">
		UPDATE ADMIN.MOZZLE
			SET MOZZLE_NAME=#{mozzle_name}, MOZZLE_INTRO=#{mozzle_intro}, 
			IMAGE_ORIGIN=#{image_origin}, IMAGE_SAVED=#{image_saved}, 
			CATEGORY_CODE=#{category_code}, STATE=#{state}
				WHERE MOZZLE_ID= #{mozzle_id}
	</update>
	
	<select id="selectMozzleByCreatDate" resultType="mDto">
		SELECT MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE, STATE
		FROM MOZZLE
		WHERE STATE = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectMozzleByMozzleId" parameterType="java.lang.String" resultType="mDto">
		SELECT MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE, STATE
		FROM MOZZLE
		WHERE MOZZLE_ID = #{mozzle_id}
	</select>
	
	<select id="selectMozzleIdByUserNumber" resultType="java.lang.String">
		SELECT MOZZLE_ID 
			FROM (
				SELECT MOZZLE_ID 
					FROM USER_MOZZLE 
						GROUP BY MOZZLE_ID 
							ORDER BY COUNT(*) DESC)
	</select>
	
	<select id="selectMozzleByUserNumber" parameterType="java.util.List" resultType="mDto">
		SELECT MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE, STATE
		FROM MOZZLE
			WHERE STATE = 'Y' 
			AND MOZZLE_ID IN
		<foreach collection="list" item="mozzle_id" open="(" separator="," close=")">
			#{mozzle_id}
		</foreach>
	</select>
	
	<select id="selectMyMozzle" parameterType="java.lang.String" resultType="mDto">
		SELECT m.MOZZLE_ID, m.MOZZLE_NAME, 
			m.MOZZLE_INTRO, m.CREATE_DATE, 
			m.IMAGE_ORIGIN, m.IMAGE_SAVED, 
			m.CATEGORY_CODE, m.STATE 
		FROM MOZZLE m LEFT JOIN USER_MOZZLE um
		ON m.MOZZLE_ID = um.MOZZLE_ID 
			WHERE STATE = 'Y' 
			AND um.USER_ID = #{user_id}
	</select>
	
	<select id="selectMozzleBySearchBasedOnImportance" parameterType="java.lang.String" resultType="mDto">
		SELECT
			MOZZLE_ID , MOZZLE_NAME,
			MOZZLE_INTRO, CREATE_DATE,
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE
		FROM (SELECT MOZZLE_ID , MOZZLE_NAME,
			MOZZLE_INTRO, CREATE_DATE,
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE
			FROM MOZZLE m 
		WHERE STATE = 'Y' 
		 	AND MOZZLE_NAME LIKE '%'||#{keyword}||'%'
		UNION ALL	 	 	
		SELECT MOZZLE_ID , MOZZLE_NAME,
			MOZZLE_INTRO, CREATE_DATE,
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE
			FROM MOZZLE m 
		WHERE STATE = 'Y' 
		 	AND MOZZLE_INTRO LIKE '%'||#{keyword}||'%' 	
		UNION ALL
		SELECT m.MOZZLE_ID, m.MOZZLE_NAME,
			m.MOZZLE_INTRO, m.CREATE_DATE,
			m.IMAGE_ORIGIN, m.IMAGE_SAVED, 
			m.CATEGORY_CODE
		FROM MOZZLE m JOIN CATEGORY c
		ON m.CATEGORY_CODE = c.CATEGORY_CODE
		WHERE m.STATE = 'Y'
		AND CATEGORY_NAME LIKE '%'||#{keyword}||'%')	
		GROUP BY MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE
		ORDER BY COUNT(*) DESC
	</select>
	
	<select id="selectMozzleBySearchFromTheLastest" parameterType="java.lang.String" resultType="mDto">
		SELECT m.MOZZLE_ID, m.MOZZLE_NAME, 
			m.MOZZLE_INTRO, m.CREATE_DATE, 
			m.IMAGE_ORIGIN, m.IMAGE_SAVED, 
			m.CATEGORY_CODE
			FROM MOZZLE m JOIN CATEGORY c
		ON m.CATEGORY_CODE = c.CATEGORY_CODE
		WHERE (m.MOZZLE_NAME LIKE '%'||#{keyword}||'%'  
		 	OR m.MOZZLE_INTRO LIKE '%'||#{keyword}||'%'
		 	OR c.CATEGORY_NAME LIKE '%'||#{keyword}||'%')
		AND m.STATE = 'Y' 	
		ORDER BY CREATE_DATE DESC 
	</select>
	
	<select id="selectCategory" resultType="java.lang.String">
		SELECT CATEGORY_CODE FROM MOZZLE m 
	</select>

</mapper>