<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.board.MozzlePostDaoImpl">

<select id="selectMozzlePostByMozzleId" parameterType="java.lang.String" resultType="pDto">
	SELECT mp.POST_ID, mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.DELFLAG = 'N'
	AND mp.MOZZLE_ID = #{mozzle_id}
	AND mp.DEPTH = '0'
	ORDER BY mp.REGDATE DESC
</select>

<select id="selectMozzleReplyByRefer" parameterType="java.lang.Integer" resultType="pDto">
	SELECT mp.POST_ID, mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.DELFLAG = 'N'
	AND mp.REFER = #{refer}
	AND mp.DEPTH > 0
</select>

<insert id="insertMozzlePost" parameterType="pDto">
	INSERT INTO MOZZLE_POST
			(POST_ID, MOZZLE_ID, 
			USER_ID, CONTENT, 
			REFER, STEP, 
			"DEPTH", REGDATE, DELFLAG)
		VALUES(ANSWERBOARD_SEQ.NEXTVAL, #{mozzle_id}, 
				#{user_id}, #{content}, 
				(SELECT NVL(MAX(SEQ),0) + 1 FROM ANSWERBOARD a), 
				0, 0, 'N', SYSDATE)
</insert>

</mapper>
