<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.board.MozzlePostDaoImpl">

<select id="selectMozzlePostByMozzleId" parameterType="java.lang.String" resultType="pDto">
	SELECT DISTINCT(mp.POST_ID), mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.DELFLAG = 'N'
	AND mp.MOZZLE_ID = #{mozzle_id}
	AND mp.DEPTH = '0'
	ORDER BY REGDATE DESC
</select>

<select id="selectMyMozzlePost" parameterType="pDto" resultType="pDto">
	SELECT DISTINCT(mp.POST_ID), mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.DELFLAG = 'N'
	AND mp.MOZZLE_ID = #{mozzle_id}
	AND mp.USER_ID = #{user_id}
	AND mp.DEPTH = '0'
	ORDER BY REGDATE DESC
</select>

<select id="searchMozzlePost" parameterType="pDto" resultType="pDto">
	SELECT DISTINCT(mp.POST_ID), mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.DELFLAG = 'N'
	AND mp.MOZZLE_ID = #{mozzle_id}
	AND mp.USER_ID = #{user_id}
	AND mp.CONTENT LIKE '%'||#{keyword}||'%'
	AND mp.DEPTH = '0'
	ORDER BY REGDATE DESC
</select>

<select id="selectMozzleReplyByRefer" parameterType="java.lang.Integer" resultType="pDto">
	SELECT DISTINCT (mp.POST_ID), mp.MOZZLE_ID, 
		mp.USER_ID, mp.CONTENT, 
		mp.REFER, mp.STEP, 
		mp.DEPTH, mp.REGDATE,
		um.IMAGE_SAVED, mp.DELFLAG
	FROM MOZZLE_POST mp
	JOIN USER_MOZZLE um
	ON mp.USER_ID = um.USER_ID
	WHERE mp.REFER = #{refer}
	AND mp.DEPTH > 0
	ORDER BY REFER DESC, STEP
</select>

<insert id="insertMozzlePost" parameterType="pDto">
	INSERT INTO MOZZLE_POST
			(POST_ID, MOZZLE_ID, 
			USER_ID, CONTENT, 
			REFER, STEP, 
			DEPTH, REGDATE, DELFLAG)
		VALUES(MOZZLE_POST_SEQ.NEXTVAL, #{mozzle_id}, 
				#{user_id}, #{content}, 
				(SELECT NVL(MAX(TO_NUMBER(POST_ID)),0)+1 FROM MOZZLE_POST), 
				0, 0, SYSDATE, 'N')
</insert>

<insert id="insertFirstReply" parameterType="pDto">
	INSERT INTO MOZZLE_POST
			(POST_ID, MOZZLE_ID, 
			USER_ID, CONTENT, 
			REFER, STEP, 
			DEPTH, REGDATE, DELFLAG)
		VALUES(MOZZLE_POST_SEQ.NEXTVAL, #{mozzle_id}, 
				#{user_id}, #{content}, 
				(SELECT REFER FROM MOZZLE_POST WHERE POST_ID =#{post_id}),
				1, 1, SYSDATE, 'N')
</insert>


<update id="replyUp" parameterType="pDto">
	UPDATE MOZZLE_POST SET STEP = STEP + 1
		WHERE STEP > (SELECT STEP FROM MOZZLE_POST WHERE POST_ID = #{post_id})
</update>

<insert id="replyIn" parameterType="pDto">
	INSERT INTO MOZZLE_POST 
			(POST_ID, MOZZLE_ID, 
			USER_ID, CONTENT, 
			REFER, STEP, 
			DEPTH, REGDATE, DELFLAG)
		VALUES(MOZZLE_POST_SEQ.NEXTVAL, #{mozzle_id}, #{user_id}, #{content}, 
				(SELECT REFER FROM MOZZLE_POST WHERE POST_ID =#{post_id}), 
				(SELECT STEP +1 FROM MOZZLE_POST WHERE POST_ID =#{post_id}), 
				(SELECT DEPTH + 1 FROM MOZZLE_POST WHERE POST_ID =#{post_id}), SYSDATE, 'N')
</insert>

<delete id="deleteMozzlePost" parameterType="java.lang.String">
	UPDATE MOZZLE_POST
		SET DELFLAG='Y'
		WHERE POST_ID= #{post_id}
</delete>


<!-- 김보영 -->
<update id="deleteadminPosts" parameterType="java.util.Map">
  	UPDATE MOZZLE_POST
		SET DELFLAG='Y'
WHERE POST_ID IN
<foreach collection="report_ids" item="report_id" open="(" separator="," close=")">
#{report_id}
</foreach>
  	</update>

<!-- 내 게시글 보기 작성자 : 이종표 -->
<select id="selectMyPost" parameterType="java.util.Map" resultType="java.util.Map">

SELECT mp.*, m.MOZZLE_NAME, um.NICKNAME, um.IMAGE_ORIGIN, um.IMAGE_SAVED
FROM MOZZLE_POST mp 
INNER JOIN MOZZLE m
ON mp.MOZZLE_ID = m.MOZZLE_ID 
INNER JOIN USER_MOZZLE um 
ON um.USER_ID = mp.USER_ID AND um.MOZZLE_ID = mp.MOZZLE_ID 
WHERE mp.USER_ID = #{user_id}
<if test="mozzle_id != null">
 AND mp.MOZZLE_ID = #{mozzle_id} 
</if>
AND mp.DEPTH = '0'
AND mp.DELFLAG = 'N'
ORDER BY mp.REGDATE DESC
</select>


</mapper>
