<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.dao.manage.ManageDaoImpl">
	
	<insert id="registMozzle" parameterType="mDto">
		<selectKey keyProperty="mozzle_id" resultType="java.lang.String" order="BEFORE">
			SELECT MOZZLE_SEQ.NEXTVAL MOZZLE_ID FROM DUAL
		</selectKey>
			INSERT INTO MOZZLE
						(MOZZLE_ID, MOZZLE_NAME, 
						<if test="mozzle_intro != null">
							MOZZLE_INTRO, 
						</if>
						<if test="image_origin != null">
						IMAGE_ORIGIN, IMAGE_SAVED,
						</if>
						CREATE_DATE, CATEGORY_CODE, 
						STATE, DELFLAG)
				VALUES(#{mozzle_id}, #{mozzle_name},
						<if test="mozzle_intro != null">
						 	#{mozzle_intro}, 
						</if>
						<if test="image_origin != null">
						#{image_origin}, #{image_saved},
						</if>
						SYSDATE, #{category_code}, #{state}, 'N')	
	</insert>

	
	<select id="selectMozzleByCreatDate" resultType="mDto">
		SELECT MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE, STATE
		FROM MOZZLE
		WHERE STATE = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectMozzleByMozzleId" parameterType="java.lang.String" resultType="mDto">
		SELECT MOZZLE_ID, MOZZLE_NAME, 
			MOZZLE_INTRO, CREATE_DATE, 
			IMAGE_ORIGIN, IMAGE_SAVED, 
			CATEGORY_CODE, STATE
		FROM MOZZLE
		WHERE MOZZLE_ID = #{mozzle_id}
	</select>


</mapper>