<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.Schedule">

	<!-- 일정리스트  -->
	<select id="scheduleselectAll" resultType="ScheduleDto">
		SELECT SCHEDULES_ID,WRITER,TITLE,CONTENT,
		SCHEDULES_DATE,REGDATE,SCHEDULE_INFO.ADDRESS
		FROM SCHEDULES
	</select>

	<!-- 일정추가 -->
	<insert id="scheduleinsert" parameterType="java.lang.Integer">
		INSERT INTO SCHEDULES
		(SCHEDULES_ID,MOZZLE_ID,WRITER,SCHEDULES_TITLE,
		SCHEDULES_CONTENT,
		SCHEDULES_LOCATION,SCHEDULES_DATE,
		SCHEDULES_REGDATE,SCHEDULES_DELFLAG)
		VALUES(
		SCHEDULES_ID_SEQ.NEXTVAL,${mozzle_id},${writer},${title},
		${content},${schedule_date},SYSDATE,"N",${location_code};
	</insert>

	<!-- 일정개수 -->
	<select id="schedulecount">
		SELECT COUNT(*)
		FROM SCHEDULES
		WHERE ID=
		#{SCHEDULES_ID} AND SUBSTR(MDATE,1,8) =#{yyyymmdd}
	</select>

	<!-- 일정리스트(개수보여주기) -->
	
	<!-- 일정 상세보기 조인3개 -->


</mapper>
