<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozzle.web.Users">

<!-- 나중에 권한까지 체크 -->
<select id="loginChk" parameterType="java.lang.String" resultType="uDto">
  SELECT USER_PW 
	FROM USERS
		WHERE USER_ID = #{id}
</select>

<select id="passwordChk" parameterType="java.lang.String" resultType="java.lang.String">
  SELECT USER_PW 
	FROM USERS
		WHERE USER_ID = #{id}
</select>

<insert id="signUp" parameterType="uDto">
	INSERT INTO USERS(USER_ID, USER_PW, USER_NAME, AUTH_CODE, BIRTH, EMAIL, TEL, DELFLAG)
		VALUES(#{user_id}, #{user_pw}, #{user_name},
		2, #{birth}, #{email},
		#{tel}, 'N')
</insert>

<select id="duplicationIdChk" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM USERS WHERE USER_ID = #{id}
</select>

<select id="getUserInfo" parameterType="java.lang.String" resultType="uDto">
	SELECT USER_NAME, BIRTH, EMAIL, TEL
	FROM USERS WHERE USER_ID = #{id}
</select>

<select id="duplicationMailChk" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
</select>

</mapper>
