.card {
	width: 90%;
	height: 100%;
}

.register-container {
	margin-right: auto;
	margin-left: auto; 
	width: 22%;
}

.register-name {
	text-align: left;
}

#public-choice {
	display: flex;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	vertical-align: middle;
}

#text-box {
	width: 300%;
}

#explain {
	font-size:0.5rem;
}

#slider-box {
	width: 100%;
	margin-top : 15px;
	margin-left : 100px;
	
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#on {
	margin: 0px;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
}


section.content {
	margin-top: 5%;
	margin-bottom: 5%;
}

.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}

#submit-btn {
	background: #e82d55;
	color: #fff;
	font-size: 15px;
	border-radius: 4px;
	border: none;
	height: 40px;
}

#category {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.box-file-input label{
  display:inline-block;
  background:#aaa;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 5px;
}

.box-file-input label:after{
  content:"파일찾기";
}

.box-file-input .file-input{
  display:none;
}

.box-file-input .filename{
  display:inline-block;
  padding-left:10px;
}
   
.select2-choices {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select2-container-mult {
	
	border: 1px solid #ccc; 
}

.image-wrap1 {
    text-align:center;
    display:table;
    border:1px dotted #cecece;
    width:100%;
    height:300px;
    border-radius: 5px;
}

.image-wrap2 {
    display:table-cell;
    vertical-align:middle;
}

.image {
    max-width:100%;
    max-height:300px;
}

#hash-tag {
	width: 10px;
	height: 10px;
}

#show-category-box{
	display: inline-block;
	width: 80%;
}

#category-modify-button-box {
	display: inline-block;
	width: 10%;
}